#overLoading{
    z-index:99998; 
    position:absolute;    
    top:0;
    left:0;
    background: gray;
}
#mensajeLoading {
    z-index:99999;
    position:absolute;
    padding:15px;
    margin:-15px 0 0 -45px;
    background:#FFFFFF;
    border:1px solid #000;   
    -moz-border-radius:7px;
    -moz-box-shadow:3px 5px 12px #aaa;
    -webkit-border-radius:7px;
    cursor:wait;
    font-size: 12px;    
}