#demoDer { border:1px dashed; width:300px; background-color:#EAEAEA; text-align:center; }
#demoDer2 { border:1px dashed; width:150px; background-color:#EAEAEA; text-align:center; }

#demoDer  { float:inherit; position:relative; }
#demoDer2 { float:inherit; position:relative; }

#lista
{
    position:absolute;
    width:100%;
    background-color:#EAEAEA; color:#000000;
    border:1px dotted; border-color:#000000;
    z-index:1;
    top:17px;
    left:0px;
    overflow: auto;
    height: 150px;
    text-align: left;    
    display:none;
}

.resaltado
{
    background-color:#FFFFFF; color:#000000;
    cursor:pointer;
}

.normal
{
    background-color:#EAEAEA; color:#000000;
}
#info { border:1px dashed; width:300px; background-color:3366FF; text-align:center; color: #FFFFFF}